<%= turbo_frame_tag 'purchase' do %>
  <% if @purchase.completed? %>
    <%= render 'success' %>
  <% else %>
    <%= render 'payment_form' %>
  <% end %>
<!--  <div data-controller="clipboard" class="p-4">-->
<!--    <p>Арес Кошелька:</p>-->
    <%#= render('copy_input', value: Purchase.wallet_address) %>
<!--  </div>-->
<!--  <div data-controller="clipboard" class="p-4">-->
<!--    <p>Комментарий:</p>-->
    <%#= render('copy_input', value: @purchase.comment) %>
<!--  </div>-->
<!--  <div data-controller="clipboard" class="p-4">-->
<!--    <p>TON Nanocoins:</p>-->
    <%#= render('copy_input', value: @purchase.nanocoins_price) %>
<!--  </div>-->
<% end %>
